<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="/stylesheets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">

	
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">

	
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" action="/reg" method="POST">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">email</span>
						<input class="input100" type="text" name="email" placeholder="Enter email">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					
					<div class="container-login100-form-btn-reg">
						<button class="login100-form-btn-reg">
							Create Account
						</button>
					</div>

                    <div class="container-login100-form-btn">
                        <a href="/login" class="login100-form-btn">
                            Login
                        </a>
                    </div>

				
					<div class="container-login100-form-btn">
						<a class="oauth-container btn darken-4 white black-text" href="/auth/google" style="text-transform:none">
							<div class="left">
								<img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
							</div >
							Login with Google
						</a>
					</div>
					
					<!-- Compiled and minified CSS -->
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
					
					<!-- Compiled and minified JavaScript -->
					<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


					<% if (locals.error != null) { %>
						<div class="error"><%= error %></div>
					  <% } %>
				</form>

			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="partials/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="partials/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="partials/vendor/bootstrap/js/popper.js"></script>
	<script src="partials/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="partials/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="partials/vendor/daterangepicker/moment.min.js"></script>
	<script src="partials/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="partials/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="partials/js/main.js"></script>

</body>
</html>







  